body {
    background-color: #f9fafc;
}

.brand {
    font-family: "Courier Prime", monospace, sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #4a4a4f;
}

.img-thumbnail {
    width: 50px;
    height: 50px;
}

.link {
    color: #4b455a;
    text-decoration: none;
}

.font-140 {
    font-size: 140%;
}

.font-130 {
    font-size: 130%;
}

.font-120 {
    font-size: 120%;
}

.font-108 {
    font-size: 108%;
}

.red {
    color: rgb(235, 62, 62);
}

.green {
    color: rgb(0, 206, 0);
}

.blue {
    color: rgb(47, 47, 236);
}

.navbar-collapse {
    flex-grow: initial;
}

.dark-bg {
    background-color: #9ba7b3;
}

.h {
    font-family: "Franklin Gothic Medium", monospace, sans-serif;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.custom-nav {
    text-decoration: none;
    text-shadow: 5px;
}

.custom-nav:hover {
    color: #0d6efd;
}

.text-heading-style {
    color: #e68e1b;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
}
