{% extends "base.html" %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 class="text-heading-style py-3">Spark - Ireland's Local Events Hub</h3>
            <p>Spark is an Irish-owned company based in Dublin with a mission to provide event promoters in Ireland with a platform to promote their local events.
            </p>

            <h5 class="py-3">Join Us Today</h3>
            <p>Take the opportunity to promote your events by signing up for a Spark account now.</p>
            <button class="btn btn-success" type="submit"><a class="nav-link d-inline text-light"
                    href="{% url 'account_signup' %}">Register</a></button>



        </div>
    </div>
</div>
{% endblock %}