{% extends "base.html" %} {% block content %}


{% if user.is_authenticated %}


<div class="container my-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2>{% block title %} Edit event {% endblock %}</h2>
            <h5 class="text-danger"><strong>Important!</strong></h5>
            <h6 class="text-muted my-1 pb-4">Please enter the "When" field in this format: YYYY-MM-DD HH:MM:SS<br> and the "Optional end date" field in this format: YYYY-MM-DD.</h6>
            <form method="POST" enctype="multipart/form-data">

                {{ form.as_p }}
                {% csrf_token %}

                <ul></ul>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
            <ul></ul>
            <p>Cancel and go back to your profile:</p>
            <span><a href="{% url 'user_profile' %}">
                    <button class="btn btn btn-secondary">Cancel</button>
                </a></span>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}